<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- favicon from https://favicon.io/favicon-converter-->
<link rel="apple-touch-icon" sizes="180x180" href="{{'./assets/images/apple-touch-icon.png' | relative_url}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{'./assets/images/favicon-32x32.png' | relative_url}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{'./assets/images/favicon-16x16.png' | relative_url}}">
<link rel="manifest" href="{{'./assets/images/site.webmanifest' | relative_url}}">

<!-- google fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">