$backgroundColour: #ffffff;
//$primaryColour: #7d7a41;
$primaryColour: #5A6B3C;
$secondaryColour: #657e89;
$tertiaryColour: #7c7474;
//$frameColour: rgb(225, 177, 133);
//$frameColour: #C9A15B;
$frameColour: #5A6B3C;
$primaryFont: "Glowgirl";
$secondaryFont: "Montserrat";
$tertiaryFont: "Beau Rivage";
$clockFont: "DM Serif Display";

html {
  padding: 0;
  margin:0;
  width: 100vw;
  overflow-x: hidden;
}

body {

  margin: 0;
  padding: 0;

  color: $primaryColour;
  font-family: $secondaryFont;
  font-size: 12px;

  background: $backgroundColour;
  background-image: url("../images/background-1.png");
  background-repeat: repeat;
  background-size: contain;

  h1 {
    font-family: $primaryFont;
    color: $primaryColour;
    text-align: left;
    font-size: 9.5vw;
    margin: 0 0 0 0.5em;
    line-height: 1em;
  }

  p, label {
    font-family: $secondaryFont;
  }

  img {
    width: 100%;
    object-fit: contain;
    margin: 0;
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 7.5vw;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 125px;
    }
  }
}

.fadein {
  opacity: 0;
  filter: blur(5px);
  transition: all 1.75s;
}
.fadein.left {
  transform: translateX(50%);
}
.fadein.right {
  transform: translateX(-50%);
}

.fadein.appear {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

.pillar-flower {
  position: absolute;
  z-index: -2;
  height: 100%;
  max-height: 40vh;
  width: auto;
  margin: 0;
}

.pillar-wooden {
  position: absolute;
  right: 0%;
  z-index: -3;
  width: 36px;
  height: 100%;
  background-image: url("../images/wooden.png");
  background-repeat: repeat;
  background-size: contain;
}

@media (max-width: 800px) {
  .pillar-flower {
    max-height: 320px;
  }
  .pillar-wooden {
    width: 18px;
  }
}

.decor-line {
  margin: 2em 0 2em 0;
  width: 30%;
}

.drop-shadow {
  box-shadow: 0.5em 0.5em 5px 1px rgb(190, 190, 190);
}

.corners {

  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;

  .corner {
    position: absolute;
    width: 25%;
    object-fit: contain;
    margin: 0;
    filter: brightness(0) invert(1);
  }

  :nth-child(1) {
    left: 0%;
    top: 0%;    

    transform: rotate(90deg)
  }

  :nth-child(2) {
    right: 0%;
    top: 0%;    

    transform: rotate(180deg)
  }

  :nth-child(3) {
      right: 0%;
      bottom: 0%;    

      transform: rotate(270deg)
    }

  :nth-child(4) {
      left: 0%;
      bottom: 0%;
    }
}

.content {
  display: flex;
  flex-direction: row;
  padding: 0 20% 0 20%;
  overflow: hidden;

  max-width: 800px;

  @media (min-width: 1200px) {
    max-width: 1080px;
  }

  div {
    display: flex;
    align-items: center;
  }
}

.date-block {

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;

  .date-column {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    padding: 0 0.5em 0 0.5em;
    margin: 5% 0 5% 0;

    font-size: 0.75em;

    p {
      margin: 0;
      padding: 0;
      height: 1em;
      color: $secondaryColour;
    }

    .date-decorline {
      width: 100%;
      height: 0.2em;
      background-color: $secondaryColour;
    }

    .month {
      font-family: $secondaryFont;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }

    .year, .month {
      font-size: 4em;
    }

    .date {
      font-size: 8em;
      font-weight: bold;
    }

    .day, .time {
      font-size: 3em;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin: 0.25em 0 0.25em 0;
    }

  }
  @media (max-width: 800px) {

    width: 60%;
    .date-column {
      font-size: 0.5em;

      .date {
        font-size: 6em;
      }

      .year, .month {
        font-size: 2em;
      }

      .day, .time {
        font-size: 2em;
      }

    }
  }
  
  .date-column:nth-of-type(2) {
    width: 20%;
  }
}

.welcome {
  padding: 2.5% 0 2.5% 0;

  //background-image: url("../images/border 2.png");
  //background-repeat: no-repeat;
  //background-size: contain;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  font-size: 1vw;

  width: 100%;
  height: auto;

  min-height: 100vh;


  .pillar-flower {
    right: 0%;
  }

  .title-img {

    position: relative;
    width: 50%;
    height: 100%;

  }

  #main-img {
    width: 100%;
    border: $frameColour solid 2em;
    box-sizing: border-box;

    @media (min-width: 1200px) {
      border: $frameColour solid 1em;
    }
  }

  .title-words {
    max-width: 50%;
  }

  .content {
    margin: 5em 0 5em 0;
    height: 100%;
  }
}

.countdown {

  margin: 20% 0 0 0;
  height: 20%;
  width: 80%;
  max-width: 800px;

  @media (min-width: 1200px) {
    max-width: 1080px;
  }

  p {
    font-size: 4em;
    text-align: center;
    margin: 0;
  }

  .date {
    font-family: $primaryFont;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
  }

  .counter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px 0 20px;
    //height: 10em;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      flex: 1 1 20%;
      margin: 0% 2.5% 0% 2.5%;
      padding: 1em;
      background-color: $primaryColour;
      border: $primaryColour 1px solid;
      border-radius: 1.5em;

      .int, .text {
        color: white;
        text-align: center;
      }
      .int {
        font-family: $clockFont;
        font-size: 8em;
        line-height: 1em;
      }
      .text {
        font-family: $primaryFont;
        font-size: 2em;
      }
    }
  }
}

.story {
  padding: 10em 0 10em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font-size: 1vw;
  min-height: 100vh;

  .content {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .pillar-flower {
    right: 0%;
  }
}


.invitation {
  padding: 10em 0 10em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  min-height: 100vh;

  font-size: 1em;

  a {
    color: $secondaryColour;
  }

  p, label, input {
    font-size: 1.75em;
    font-family: $primaryFont;
    text-align: center;
    margin: 0.5em;
    overflow: hidden;
  }

  .bold-var {
    font-size: 1.15em;
    color: $primaryColour;
  }

  .household {
    font-size: 2em;
    margin: 0.25em 0 0.25em 0;
  }

  .content {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .symbol {
    height: 6em;
    filter: invert(48%) sepia(29%) saturate(283%) hue-rotate(153deg) brightness(92%) contrast(90%);
  }

  .pillar-flower:first-of-type {
    right: 0%;
    bottom: 0%;
  }
  .pillar-flower:last-of-type {
    top: auto;
    left: 0%;
    max-width: 20%;
  }

  .guest-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    width: 80%;
    margin: 0 10% 0 10%;
    padding: 0 10% 0 5%;

    border-left: $primaryColour solid 1em;

    input {
      color: $primaryColour;
      height: 0.75em;
      width: 0.75em;
    }

  }

  .toggled {
    background-color: $frameColour;
    label {
      color: white ;
    }
  }

  @media (max-width: 800px) {

    font-size: 0.75em;

    p, label, input {
      font-size: 1.25em;
    }

    .bold-var {
      font-size: 1.25em;
    }

    .symbol {
      height: 4em;
    }
  }
  @media (min-width: 1200px) {
    font-size: 1.25em;

    p, label, input {
      font-size: 2.25em;
    }
  }
}

.rsvp {
  display: flex;
  flex-direction: column;

  #submit {
    padding: 0.25em 1.5em 0.25em 1.5em;
    background-color: $frameColour;
    border: $frameColour 2px solid;
    border-radius: 2em;
    color: white;
    margin: 1em 0.5em 0 0.5em;
  }

  #submit:hover {
    background-color: white;
    color: $frameColour;
  }
}

@media (max-width: 800px) {
  .welcome, .story, .invitation {
    min-height: 80vh;
  }
}